.work {
  width: 280px;
  margin: 0 auto;
}

.work__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.work__title {
 text-align: center;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
 color: #FFFFFF;
}

.work__items li {
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
}

.work__active-main {
  display: none;
}

@media (min-width: @desktop-width) {
  .work {
    width: 1200px;
    margin: 0 auto;
  }

  .work__title {
    font-size: 24px;
  }

  .work__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1000;

    &::after {
      content: "";
      position: absolute;
      width: 727px;
      height: 273px;
      top: 149px;
      z-index: 10;
      transform: rotate(3.61deg);
      background-image: url("/img/iocn2.png");
    }
  }

  .work__items li {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    z-index: 100;
  }

  .work__item img {
    border-radius: 5px;

    &:focus,
    &:hover {
      opacity: 0.9;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    }
  }
  
  .work__item-icon {
    position: relative;
    z-index: 1000;

    &::after {
      content: "";
      position: absolute;
      width: 131px;
      height: 131px;
      top: 196px;
      right: -77px;
      z-index: 100;
      background-image: url("/img/icon1.png");
    }
  }

  .work__active-main  {
    position: relative;
    display: none;
    color: white;
    margin-top: -135px;
  }

  .work__item:hover .work__active-main {
    display: block;
  }

  .work__btn {
    display: block;
    width: 100px;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background: linear-gradient(113.12deg, #C471F5 0%, #FA71CD 100%), #FFFFFF;
    text-align: center;
    margin: auto;
    color: white;
    border-radius: 20px;
    padding: 10px;
  }

}
